In [7]:
a='abhishek'
type(a)

str

In [9]:
l=[2,3,4,5,'abhishek',2.86]
type(l)

list

In [13]:
b=2.14
type(b)

float

In [15]:
c=("abcd","efgh","ijkl")
type(c)

tuple

1)  var1=''  ->  string
2)  var2='[DS,ML,Python]'   ->   string
3)   var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]   ->   list
4)   var4 = 1.  ->   integer

In [3]:
'''1)   is the division operator '''
a=10
b=5
a/b

2.0

In [5]:
'''  2) '%"  is the modulus operator'''
a=10
b=4
a%b

2

In [11]:
'''  3) '//' is the floor division operator'''
a=30
b=4
a//b

7

In [13]:
'''  4) '** is used exponent operator '''
10**2

100

In [25]:
l=[2,3,4,5,'abcd','efgh',2.86,3.14,True,12]
for i in l:
    print(type(i))
    print(i)

<class 'int'>
2
<class 'int'>
3
<class 'int'>
4
<class 'int'>
5
<class 'str'>
abcd
<class 'str'>
efgh
<class 'float'>
2.86
<class 'float'>
3.14
<class 'bool'>
True
<class 'int'>
12

In [23]:
a=int(input("enter a number"))
b=int(input("enter another number"))
c=a/b
d=0
if(a%b==0):
    while(c>b and type(c)==int):
        d=d+1
        print(d)
    print("the number is divisibel by ",b)
else:
    print("now not divisible by ",b)

enter a number 100
enter another number 3

now not divisible by  3

In [39]:
a=[1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25]
for i in a:
    if(i%3==0):
        print(i)

3
6
9
12
15
18
21
24

In [43]:
'''Mutable data types are those that allow modifications to their state or content after
they have been created. This means that you can change their elements, add new elements,
or remove existing elements without creating a new object.'''
list = [1, 2, 3]
list.append(4)
print(list)

[1, 2, 3, 4]

In [47]:
'''Immutable data types are those that do not allow modifications to their state or 
content after they have been created. '''
tup = (1,2,3,4)
tup.append(4)
print(tup)

AttributeError: 'tuple' object has no attribute 'append'