In [24]:
# Ans 1
t=[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]
s=sorted(t,key=lambda x:x[1],reverse=True)
print(s)

[('Sachin Tendulkar', 34357), ('Ricky Ponting', 27483), ('Jack Kallis', 25534), ('Virat Kohli', 24936)]

In [4]:
# Ans 2
lst=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
list(map(lambda x:x**2,lst))

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [6]:
# Ans 3
lst=[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
tuple(map(lambda x:str(x),lst))

('1', '2', '3', '4', '5', '6', '7', '8', '9', '10')

In [12]:
# Ans 4
from functools import reduce
reduce(lambda x,y:x*y,range(1,26))

15511210043330985984000000

In [16]:
# Ans 5
lst=[2, 3, 6, 9, 27, 60, 90, 120, 55, 46]
filter1=list(filter(lambda x:x%2==0 and x%3==0,lst))
print(filter1)

[6, 60, 90, 120]

In [20]:
# Ans 6
given=['python', 'php', 'aba', 'radar', 'level']
list(filter(lambda x:x==x[::-1],given))

['php', 'aba', 'radar', 'level']