In [16]:
# Ans 1

class vehicle() :
  def __init__(self , name_of_vehicle, max_speed, average_of_vehicle):
    self.name_of_vehicle = name_of_vehicle
    self.max_speed = max_speed
    self.average_of_vehicle = average_of_vehicle

  def car_details(self):
    return self.name_of_vehicle,self.max_speed,self.average_of_vehicle

In [18]:
vehicleobj = vehicle("Fortuner", 200, 40)

In [19]:
vehicleobj.car_details()

('Fortuner', 200, 40)

In [22]:
# Ans 2

class vehicle_details(vehicle) :
  def seating_capacity(self, seating_capacity):
    self.seating_capacity=seating_capacity
    return self.name_of_vehicle, self.seating_capacity

In [25]:
details = vehicle_details("Fortuner", 200, 40)
details.seating_capacity(6)

('Fortuner', 6)

In [38]:
# Ans 3

""" In object-oriented programming, multiple inheritance means a class can inherit properties and methods from more
than one parent (or base) class, allowing for a more flexible and complex class structure.
Imagine a class called "Bat" that inherits from both "Mammal" and "FlyingCreature". This allows "Bat" to inherit
characteristics of both mammals (like having fur) and flying creatures (like having wings). """

class class1():
  def test1(self):
    return "this is class1"

class class2():
  def test2(self):
    return "this is class2"

class class3(class1, class2):
  pass

In [41]:
test_class3 = class3()
test_class3.test1()

'this is class1'

In [37]:
test_class3.test2()

'this is class2'

In [28]:
# Ans 4

""" Whenever we use private access specifiers in classes, the objects do not have access to the class variabbles.
This is why we create getter and setter. They are custom built function to allow thew user to set and retrive the value
that has been allowed to them by the developers so that they do not modify some critical valuse unknowingly or knowingly."""

class cars():
  def __init__(self,name,model,max_speed,price):
    self._name = name
    self._model = model
    self._max_speed = max_speed
    self._price = price


  def get_details(self):
    return self._name, self._model, self._max_speed, self._price

  def set_details(self,new_name,new_model,new_max_speed,new_price):
    if type(new_name) == str:
      self._name = new_name
    else:
      return "input valid brand name"

    if type(new_model) == str:
      self._model = new_model
    else:
      return "input valid model name"

    if new_max_speed > 0:
      self._max_speed = new_max_speed
    else:
      return "enter valid speed"

    if new_price > 0:
      self._price = new_price
    else:
      return "enter valid price"

In [29]:
car = cars("honda", "civic", 150, 1000000)

In [30]:
car.get_details()

('honda', 'civic', 150, 1000000)

In [31]:
car.set_details("mercedes", "s class", 200, 2000000)

In [32]:
car.get_details()

('mercedes', 's class', 200, 2000000)

In [35]:
# Ans 5

class Animal:
    def speak(self):
        return "Animal makes a sound"

class Dog(Animal):
    def speak(self):
        return "Dog barks"

class Cat(Animal):
    def speak(self):
        return "Cat meows"

# Example usage
animal = Animal()
print(animal.speak())

dog = Dog()
print(dog.speak())

cat = Cat()
print(cat.speak())

Animal makes a sound
Dog barks
Cat meows