**Ans 1 :** Single-line comments: Begin with #, and the comment continues to the end of the line.
for example :- # This is a single-line comment

Multi-line comments: Enclosed in triple quotes ''' or """. These are often used for docstrings.
for example :- """This is a multi-line comment spanning several lines.And i am extendin it so that it actually extends to multiple lines."""

**Ans 2 :** In Python, variables are used to store data values. They are labels or names that refer to a location in memory where data is stored. Python doesn't require external declaration of a variable type. You can directly assign a value to a variable, and Python automatically assigns its type.      
Syntax :- variable_name = value

**Ans 3 :** In Python, you can convert one data type to another using type casting. Here are few of the common functions used for converting between data types:
str():
1.   str(): Converts to a string. eg. text = str(10)  # Converts integer 10 to string "10"
2.   int(): Converts to an integer. eg. num = int("10")  # Converts string "10" to integer 10

**Ans 4 :** Write the source code for the task that you want to perform and then press "Shift + enter" to execute the whole cell.

In [3]:
  # Ans 5
  list=[1,2,3,4,5]
  list[1:3]

[2, 3]

**Ans 6 :** A complex number in mathematics is a number that has two parts:

A real part (a real number).
An imaginary part (a real number multiplied by the imaginary unit i, where i*i=-1 and , in python its generally depicted as -  a + bj
, where a = real part, b = imaginary part.

In [5]:
# Ans 7
age = 25

In [6]:
# Ans 8
price = 9.99
print(type(price))      # it is of float data type.

<class 'float'>

In [7]:
# Ans 9
name = "Abhsihek Verma"
print(type(name))         # we use print function to print output.

<class 'str'>

In [8]:
# Ans 10
text = "Hello, World"
text[7:12]

'World'

In [9]:
# Ans 11
is_bool = True